{% load static %}
{% load therapy_tags %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="{% static 'therapy/css/main.css' %}"/>


 </head>
 <body>
<div class="all-content-wrapper">
    {% header %}
{% block content %}

{% endblock content %}
</div>

<footer>
    <p> smartstudio  <small>&#169</small> </p>
    <br>
    <p style="font-size:0.7rem;color:teal;">Вся содержащаяся на сайте информация носит исключительно ознакомительный характер, не является исчерпывающей и не является публичной офертой, определяемой положениями статьи 437 Гражданского кодекса РФ</p>
</footer>


<script type="text/javascript" src='{% static  "therapy/js/main.js" %}'></script>
</body>
</html>