{% extends 'therapy/base.html' %}


{% block content %}
<div class="spacer"></div>
<div class="category-page-wrapper">
<div class="category-page-main-info">
    <div class="category-page-service-container">
    <div class="category-page-service-prices">
        <div class="caterory-page-image-box">
            {% if category.image %}
            <img  src="{{category.image.url}}" alt="{{ category.title }}">
            {% else %}
            <img style="width: 150px;height: auto;margin-top:20%;" src="{{logo.image.url}}" alt="{{ cat.title }}">
            {% endif %}
        </div>
        <div class="category-page-title"><h2>{{category.title}}</h2></div>
    </div>
    <hr class="price-line">
    <div class="category-price-title"><h3>Программы и цены</h3></div>
    <div class="categories-servicies">
        {% for serv in services %}
        {% if serv.cat_id == category.id %}
        <div class="service-container-title"><h5>{{serv.title}}</h5> </div>
        <div class="service-container-box">
            <div class="service-container-box-text">{{ serv.content|safe}}</div>
            <div class="service-container-box-dur">{{ serv.duration}}</div>
            <div class="service-container-box-price">{{ serv.price}}</div>
        </div>
        <hr class="price-line">
        {% endif %}
        {% endfor %}
    </div>
    </div>
    
    <div class="category-page-content">
        <h3 class="category-content-title" >Описание</h3>
        {{ category.content|safe|linebreaks}}
    </div>

</div>
</div>


{% endblock content %}
