{% extends 'therapy/base.html' %}


{% block content %}
<div class="spacer" id="cat-list"></div>
<hr>
<div class="categories-list-wrapper" >
    {% for cat in  service_cats %}
    <div class="cat-content-wrapper">
    <h2 class="service-title">{{ cat.title }}</h1>
       <p> {{ cat.content|safe }} </p>
    </div>
    <div class="cat-images-wrapper">
        {% for photo in  cat.cat_photo.all %}
            <div class="main-image-container">
                <img src="{{photo.image.url}}" alt="{{photo.note}}">
            </div>
        {% endfor %}
    </div>

    {% endfor %}
</div>
{% include  'therapy/components/contacts.html' %}

{% endblock content %}