@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap');
/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  
}

a:hover {
  text-decoration: none;

}

ul li {
  list-style: none;
}

img {
  vertical-align:center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*конец обнуление*/
/*переменные css*/
h1{
font-size:2.5rem;
}
h2{
font-size:2rem;
}
h3{
font-size:1.5rem;
}
h4{
  font-size: 1.3rem;
}
hr{  
  display: block;
  border-bottom: 1px dotted blueviolet;
  width: 80%;
  margin: 1rem auto;
  margin-top: 2rem;
}
th{
  background: #b1b0b0;
}
td{
  background: #ede8ee;
}
.spacer{
  height: var(--header-height);
}

:root{
  --light-teal:rgb(238, 255, 255);
  --content-size:1280px;
  --wild-text: 	#D50000;
  --header-height:80px;
  --complex-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  --light-gradient:linear-gradient(94deg, #F3FBFF 19%, #F2FFF6 52%, #FAF5FF 100%);
  --hot-gradient: linear-gradient(to right, #CB3066, #16BFFD);
}

body {
margin: 0;
font-family: 'Oswald', sans-serif;
color:#3f3f3f;
display: flex;
flex-direction: column;
height:auto;
justify-content: center;
background:var(--light-gradient);


}

  /*общая оболочка*/
  .all-content-wrapper{
      margin: 0 auto;
      max-width: var(--content-size);
      min-height: calc(100vh - 80px);
      display: flex;
      flex-direction: column;
      padding:5px;
      text-align:center;
      
  }


  /*iшапка сайта*/
 
  header{
    margin: -5px;
    position: fixed;
    z-index: 20;
    width: 100%;
    max-height: var(--header-height);
    background:var(--light-gradient);
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--content-size);
    border-radius: 4px;
  }

  header .logo img{
    height:60px;
    

  }


header ul{
  position: relative;
  
}
header ul li{
  position: relative;
  float: left;
}
header ul li a{
 
  color:#5c5c5c;
  font-size: 1.1rem;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  transition: 300ms ease-in-out all;
}
header ul li a:hover{
 font-size: 1.2rem;
 color:#000000;
 transition: 300ms ease-in-out all;
 
}
header ul li ul{
 
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  left: 0;
  width:max-content;
  background:var(--light-gradient);
  border-radius: 8px;
  
}
header ul li:hover ul{
  visibility: visible;
  opacity: 100%;
  display: flex;
  transition: 300ms ease-in-out all;
 

}
header ul li ul li a{
  
  border-bottom: 1px dotted #b1b0b0;
  padding: 10px 15px;
}
header ul li ul li a:hover{
  background: #ede8ee;
  

}

/*картинка на  главную*/
.main-image-container{
width:100%;
}
.main-image-container img{
width:100%;
}


/*категории на странице*/
.service-title{
  color: #4f0780;
  margin-bottom: 10px;
}


.categories-list-wrapper{
    padding:0px 20px;
    display: flex;
    flex-direction: column;
}
.category-wrapper{
 scroll-margin-top: var(--header-height);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:1.5rem;
}
.cat-content-wrapper p{
  text-align: justify;
}

.cat-image-container img{
  width: 100%;
  border-radius: 8px;
  box-shadow: var(--complex-shadow);
  border: 7px solid #fff;
}

.service-wrapper{
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding: 1rem;
  justify-items: space-between;
  border-bottom: 1px dotted blueviolet;;
}






  /*список тренеров*/
  #our-team{
    scroll-margin-top: var(--header-height);

  }
  .coach-list-wrapper{
    
    padding-top:15px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    
  }

  /*карточка тренера*/
  .coach-card{
    margin-top: 10px;
    position: relative;  
    width: 300px;
    height: 480px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 2rem;
    box-shadow: var(--complex-shadow);
    line-height: 1.3rem;
    
  }

   .coach-card-box{
    padding:1rem 0.5rem;
    text-align: justify;
    background: var(--light-gradient);
    border: 7px solid #fff;
    border-radius: 1rem;
    margin-top:  -7px;
    float:left;
  }

  .coach-card-box ul{
  line-height:1.5rem;
  margin-top: 10px;

  }
  .coach-card-circle{
    position: absolute;
    top: 2%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transform: translateY(-50%);
    right: -100px;
    padding:0;
    overflow: hidden;
    box-shadow: var(--complex-shadow);
   
 
  }
  .coach-card-circle img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .mini-logo{
  max-width:70px;
  }
.rules-wrapper{
display: flex;
flex-direction: column;

padding: 15px;

  }
  .rules-wrapper > p{
    font-size: 1.5rem;
   text-align: justify;

  }


/*контакты*/
.contacts-container{
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.contacts-info-wrapper{
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items:center;
  gap: 10px;
}
.contact-info{
  justify-self: left;
}

footer{
  text-align: center;
  padding: 15px;
  color:#000000;
  background: var(--light-gradient);
 box-shadow: var(--complex-shadow);

}
.slide-from-right {
	animation: SlideFromRight 600ms ease 0s 1 normal forwards;
}

@keyframes SlideFromRight {
	0% {
		transform: translateX(-300px);
	}

	100% {
		transform: translateX(0);
	}
}