@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap');
/* RGBA коды */


/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  
}

a:hover {
  text-decoration: none;

}

ul li {
  list-style: none;
}

img {
  vertical-align:center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*конец обнуление*/
/*переменные css*/
h1{
font-size:2.2rem;
}
h2{
font-size:1.8rem;
}
h3{
font-size:1.5rem;
}
h4{
  font-size: 1.3rem;
}
h5{
  font-size: 1.1rem;
}
h6{
  font-size: 0.8rem;
}
hr{  
  display: block;
  border-bottom: 1px dotted blueviolet;
  width: 80%;
  margin: 1rem auto;
  margin-top: 2rem;
}

.spacer{
  height: var(--header-height);
}

:root{
  --light-teal:rgb(238, 255, 255);
  --content-size:1280px;
  --wild-text: 	#D50000;
  --header-height:80px;
  --complex-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  --light-gradient:linear-gradient(90deg, #EAF5F7 1%, #F9F6CF 51%, #F1FBFF 99%, #F1FBFF 100%);
  --hover-gradient:linear-gradient(180deg, #EAF5F7 1%, #F9F6CF 51%, #F1FBFF 99%, #F1FBFF 100%);
}

body {
margin: 0;
font-family: 'Oswald', sans-serif;
color:#3f3f3f;
height:auto;
background:var(--light-gradient);
overflow-x: hidden;
}

  /*общая оболочка*/
.all-content-wrapper{
position: relative;
min-height: calc(100vh - 80px);
max-width:var(--content-size);
display: flex;
flex-direction: column;
margin: 0 auto;
padding-top: 15px;

}

  /*шапка сайта*/
  header{
    margin-top: -15px;
    position: fixed;
    z-index: 20;
    max-width: var(--content-size);
    min-height: var(--header-height);
    background:var(--hover-gradient);
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
  }

  header .logo img{
    height:60px;
  }


  .nav-menu{
  position: relative; 
}

header ul li{
  position: relative;
  float: left;
}

header ul li a{
  color:#5c5c5c;
  font-size: 1rem;
  padding: 20px 25px;
  display: flex;
  justify-content: space-around;
  transition: 300ms ease-in-out all;
}
.kostil{
color:#5c5c5c;
  font-size: 1rem;
  padding: 20px 25px;
  display: flex;
  justify-content: space-around;
  transition: 300ms ease-in-out all;
  cursor:pointer;

}

header ul li a:hover{
 font-size: 1.2rem;
 color:#000000;
 transition: 300ms ease-in-out all;
}

header ul li ul{
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  left: 0;
  width:max-content;
  background:var(--light-gradient);
  border-radius: 4px; 
}

header ul li:hover ul{
  visibility: visible;
  opacity: 100%;
  display: flex;
  transition: 300ms ease-in-out all;
}

header ul li ul li a{
  border-bottom: 1px dotted #b1b0b0;
  padding: 10px 15px;
  z-index: 65;
}

header ul li ul li a:hover{
  background: #ede8ee;
}

.burger{
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 25px;
  height: 18px;
}
.burger span{
  background:#4f0780;
  height: 2px;
  width: 100%;
  transform: scale(1);
}
.burger::before, .burger::after{
  content: '';
  position: absolute;
  background: #4f0780;
  height: 2px;
  width: 100%;
  transition: all 0.3s ease;
}
.burger::before{
  top: 0;
}
.burger::after{
  bottom: 0;
}
.burger.burger-active span{
  transform: scale(0);
}
.burger.burger-active::before{
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.burger.burger-active::after{
  bottom: 50%;
  transform: rotate(45deg) translate(0,50%);
}
@media (max-width: 1023px) {
  .burger{
    display: flex;
    cursor: pointer;
  }
  .nav-menu{
    position: fixed;
    top: 65px;
    right: 0;
    display: none;
    flex-direction: column;
    background:var(--light-gradient); 
    border-radius: 4px;
  }
  .open{
    display: flex !important;
  }
  header ul li ul{
    left: -170px;
    top: 0;
    z-index: 60;
  }

}
@media (max-width: 479px) {
  header{
    padding: 5px 20px;
  }
}
/*картинка на  главную и реклама*/
.comerc-mini-wrapper{
  display: none;
}
.comerc-image-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.comerc-image-box{
  width: 100%;
  height: 350px;
  background: #b1b0b0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.comerc-image-box img{
  min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}
.backround-link-box{
  position:absolute;
  background:var(--light-gradient);
  box-shadow: var(--complex-shadow);
  height: 800px;
  width: 800px;
  border-radius: 50%;
  right: 60%;
  top: -5%;
}

.comerc-link{
  text-align: left;
  position: relative;
  border-radius: 50%;
  padding: 4rem;
}
.comerc-link p{
margin-top: 1rem;
font-size: 1.5rem;
color: #4f0780;
max-width: 200px;
}
.comerc-link-box{
  position:absolute;
  left: 3%;
  bottom: 10%;
  max-width: 300px; 
}
.comerc-link-box button{
  margin-top: 15px;
  color: #fff;
  font-size: 1rem;
  padding: 15px;
  line-height: 1.2;
  position: absolute;
  left: 85%;
  bottom: 15%;
  }


.comerc-title{
  font-size: 3.5rem;
  font-weight: bold;
  color: red; 
}

@media (max-width: 1023px) {
  .comerc-image-box{
    max-height: 250px;
  }
  .comerc-link-box{
    left: 1%;
  bottom: 5%;
  max-width: 300px; 
  }
  .comerc-link{
    text-align: left;
    position: relative;
    border-radius: 50%;
    padding: 1rem;
  }
  
  .comerc-title{
    font-size: 2.5rem; 
  }

}
@media (max-width: 767px) {
.comerc-image-wrapper{
  display: none;
}
.comerc-mini-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  text-align: center;
}
.comerc-mini-text p{
  margin-top: 0.5rem;
color: #4f0780;
font-size: 1.2rem;
}
.mini-btn{
  background: var(--wild-text);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1rem;
  color: #fff;
  box-shadow: var(--complex-shadow);
}

}
  /*конец картинка на  главную и реклама */


  /*список тренеров*/
  #our-team{
    scroll-margin-top: var(--header-height);
  }
  .coaches-title{
    text-align: center;
    color: #4f0780;
    margin-bottom: 1rem;/*  */
  }
  .coach-list-wrapper{
    padding-top:15px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2rem;
    column-gap: 80px;
    margin: 0 auto;
  }


  /*карточка тренера*/
  .coach-card{
    margin-top: 10px;
    position: relative;  
    width: 300px;
    max-height: 480px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 2rem;
    box-shadow: var(--complex-shadow);
    line-height: 1.3rem;
    
  }

   .coach-card-box{
    padding:1rem 0.5rem;
    text-align: justify;
    background: var(--light-gradient);
    border: 7px solid #fff;
    border-radius: 1rem;
    margin-top:  -7px;
    float:left;
  }

  .coach-card-box ul{
  line-height:1.5rem;
  margin-top: 10px;

  }
  .coach-card-circle{
    position: absolute;
    top: -5%;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    transform: translateY(-50%);
    right: -70px;
    padding:0;
    overflow: hidden;
    box-shadow: var(--complex-shadow);
    border: 7px solid #fff;
 
  }
  .coach-card-circle img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .mini-logo{
  max-width:70px;
  }
  @media (max-width: 1279px) {
    .coach-list-wrapper{
      grid-template-columns: repeat(2,1fr);
  }
  .coach-card-circle{
    top: -5%;
    width: 150px;
    height: 150px;
    right: -30px;
    overflow: hidden;
    border: 7px solid #fff;

  }
  @media (max-width: 767px) {
    .coach-list-wrapper{
      grid-template-columns: 1fr;
  }
 
  }
}
@media (max-width: 479px) {
  .coach-card-circle{
    width: 120px;
    height: 120px;
    right: -20px;
    border: 4px solid #fff;
  }
  .coach-card-box{
    border: 4px solid #fff;
  }

}
/*конец карточка тренера*/

  


/*категории на главную*/


.categories-list{
  display: grid;
  grid-template-columns: 1fr;
 justify-content: center;
  
}
.category-title{
  color: #4f0780;
  text-align: center;
 
} 
.category-container{
  display: flex;
  flex-direction: column;
  scroll-margin-top: var(--header-height);
  margin-top: 1rem;
}

.services-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  padding: 1.5rem;
}


/*костыль для флекса*/
@media (max-width: 1279px) {
  .services-wrapper{
    width: 100vw;
}
}

/*карточка услуги на главную*/
.service-card-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  border: 7px solid #fff;
  border-radius: 1rem;
  width: 350px;
  min-height: 300px;
  padding: 1rem;
  background:var(--light-gradient);
  transition: 300ms ease-in-out all;
}
.service-card-wrapper:hover{
  background:var(--hover-gradient);
  box-shadow: var(--complex-shadow);
  transition: 300ms ease-in-out all;
}
.service-icon-title{
  border-bottom: 1px dotted #4f0780;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.service-title{
  color: #4f0780;
  font-size: 1.1rem;
  text-align: center;
 
}

.service-icon-image{
overflow: hidden;
width: 120px;
height: 120px;
border-radius: 50%;
border: 1px dotted #4f0780;
}
.service-icon-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-discription{
  padding: 1rem;
  font-size: 0.9rem;
  color: #3f3f3f;
  text-align: justify;
}
.service-link{
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #4f0780;
}
@media (max-width: 479px) {
  .service-card-wrapper{
    
    border: 4px solid #fff;
  }

}
/*конец карточка услуги на главную*/


/*страница услуги*/
.service-container{
  display:grid;
  grid-template-columns: repeat(12,1fr);
  gap: 2rem;
  
  
}
.price-gallery-container{
  grid-column: span 6;
  border: 7px solid #fff;
  border-radius: 1rem;
  background:var(--light-gradient);
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
 
}
.service-title-img-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;
}
.service-price-container{ 
  padding: 1rem;
  background:var(--light-gradient);
  border: 7px solid #fff;
  border-radius: 8px;
  line-height: 1.3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  justify-items: left;
  align-items: center;

}
.content-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 7px solid #fff;
  background:var(--light-gradient);
  border-radius: 1rem;
  grid-column: 7 / span 6;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.3; 
}
.content-container p{
  margin-top: 1rem;

}
.service-abo-box{
 align-items: center;
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-align: center;
  justify-self: stretch;
}
.service-abo-title{
  color: #4f0780;
  font-weight: 600;
  justify-self: left;
}
.service-abo-sub-dur{
  justify-self: center;
}
.service-abo-sub-title{
  justify-self:center;
}
@media (max-width: 767px) {
  .service-container{
    grid-template-columns: 1fr;
    gap: 0.5rem;  
   justify-content: center;
    
  }
  .content-container{
    grid-column: span 1;
    border: 4px solid #fff;
  }
  .price-gallery-container{
    grid-column: span 1;
    border: 4px solid #fff;
   
    
  }
  .service-price-container{
    border: 4px solid #fff;
    padding: 0.5rem;
  }
}

/*контакты*/
#contact-list{
  scroll-margin-top: var(--header-height);
}
.contact-title{
  text-align: center;
  color: #4f0780;
}
.contacts-container{
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}
.contacts-info-wrapper{
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items:center;
  gap: 10px;
}
.contact-info-icon img{
height:36px;
}
.contact-info{
  justify-self: left;
}
.mini-map, .midi-map, .micro-map{
  display: none;
}
@media (max-width: 1023px) {
  .contacts-container{
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 0.5rem;
    justify-items: center;
  }
  .origin-map{
    display: none;
  }
  .midi-map{
    display: block;
  }
}
@media (max-width: 767px) {
  .midi-map{
    display: none;
  }
  .mini-map{
    display: block;
  }
}
@media (max-width: 479px) {
  .contact-info-icon img{
    height: 28px;
    }
  .contacts-container{
    font-size: 0.9rem;
  }
  .mini-map{
    display: none;
  }
  .micro-map{
    display: block;
  }
}
/* конец контакты*/

 /*ПРАВИЛА*/
 .rules-wrapper{
  display: flex;
  flex-direction: column;
  border: 7px solid#fff;
  padding: 15px 25px;
  max-width: 80%;
  margin: 1rem auto;
  border-radius: 8px;
    }
    .icon-title-box{
      display: flex;
      align-items:center;
    }
  
    #rules{
    scroll-margin-top: var(--header-height);
    }
  
    .rules-wrapper > p{
      margin-top: 15px;
      font-size: 1.5rem;
     text-align: justify;
  
    }
    @media (max-width: 1023px) {
      .rules-wrapper > p{
        margin-top: 10px;
        font-size: 1.2rem;
      }

    }
    @media (max-width: 767px) {
      .rules-wrapper > p{
        margin-top: 10px;
        font-size: 1rem;
      }
      
    }
 
  /*прайс лист*/
.price-card-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .price-table{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 0.3rem;
    justify-items: center;
  }
  .table-box {
    padding: 1rem;
    background: var(--hover-gradient);
    width: 100%;
    border: 1px dotted rgb(202, 200, 200);
    border-radius: 4px;
  }
  .service-dur-box, .service-price-box, .service-price-title{
    text-align: center;
  }
  .abo-box{
    cursor: pointer;
    color:#4f0780;
    font-weight:600;
  }
  @media (max-width:479px) {
    .table-box {
      padding: 0.5rem;
      font-size: 0.9rem;
    }
  }

footer{
  text-align: center;
  padding: 15px;
  color:#000000;
  background: var(--light-gradient);
 box-shadow: var(--complex-shadow);

}

/*кнопка*/
.custom-btn {
  opacity:0;
  visibility: hidden;
  width: 80px;
  height: 80px;
  color: #fff;
  border-radius: 50%;
  padding: 15px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  background: transparent;
  cursor: pointer;
  position: absolute;
  left: 10px;
  bottom: -20px;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.custom-btn:hover {
  border-radius: 4px;
}
.btn-5 {
  width: 120px;
  height: 120px;
  line-height: 1.2rem;
  padding: 0;
  border: none;
  background: var(--wild-text);
  background: linear-gradient(0deg, var(--wild-text) 0%, var(--wild-text) 100%);
}
.btn-5:hover {
  color: var(--wild-text);
  background:var(--light-gradient);
  box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: var(--wild-text);
  box-shadow:
   -1px -1px 5px 0px rgb(255, 255, 175),
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}

.active{
  visibility:visible;
  opacity: 100;
  transition: 500ms ease-in-out all;

}
/*конец кнопка*/

/*модальное окно*/
#overlay-modal{
   
  /* Скрываем подложку  */
  opacity:0;
  visibility:hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 89;
  transition: .3s all;
}
.modal-action-wrapper{
  opacity:0;
  visibility:hidden;
  z-index: 90;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  height: auto;
  background: var(--light-gradient);
  border: 7px solid#fff;
  border-radius: 1rem;
  gap: 0.5rem;  
  box-shadow: var(--complex-shadow);
  padding: 1rem;
}
.modal-action-icon-box{
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  padding: 0.5rem;
  align-items: center;
 justify-items: center;
 

}
.modal-action-sub-title{
  color: #4f0780;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
}
.modal-action-icon-box img{
  width: 50px;
  
}
.modal-action-img-wrapper{
  width: 200px;
  height:200px;
  border-radius: 50%;
  border: 4px solid#fff;
  overflow: hidden;
}
.modal-action-img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-action-content-box{
  padding: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.3;
  
}
.js-modal-close{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

/*анимация*/
.slide-from-right {
	animation: SlideFromRight 600ms ease 0s 1 normal forwards;
  
}

@keyframes SlideFromRight {
	0% {
		transform: translateX(-300px);
    
	}

	100% {
		transform: translateX(0);
    
	}
}