@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap');
/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;

}

ul li {
  list-style: none;
}

img {
  vertical-align:center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*конец обнуление*/
/*переменные css*/
h1{
font-size:2.5rem;
}
:root{
  --light-teal:rgb(238, 255, 255);
  --content-size:1280px;
  --wild-text: 	#D50000;
  --header-height:80px;
  --complex-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
}

body {
font-family: 'Oswald', sans-serif;
height:auto;
max-width:100%;
/* padding: 10px; */
}

  /*общая оболочка*/
  .all-content-wrapper{
      padding: 5px;
      margin: 0 auto;
      max-width: var(--content-size);
      min-height: calc(100vh - 80px);
      display: flex;
      flex-direction: column;
  }



  .header-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-height: var(--header-height);   
    align-items: center;
    background: var(--light-teal);
    justify-items: center;
  }

  .service-wrapper{
    padding: 1rem;
  }
  .logo-wrapper{
    padding: 5px;

  }
  .logo-wrapper  img{
    height:60px;

  }









footer{
  text-align: center;
  padding: 15px;
  background: var(--light-teal);


}