@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap');
/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  
}

a:hover {
  text-decoration: none;

}

ul li {
  list-style: none;
}

img {
  vertical-align:center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*конец обнуление*/
/*переменные css*/
h1{
font-size:2.5rem;
}
h2{
font-size:2rem;
}
h3{
font-size:1.5rem;
}
h4{
  font-size: 1.3rem;
}
hr{  
  display: block;
  border-bottom: 1px dotted blueviolet;
  width: 80%;
  margin: 1rem auto;
  margin-top: 2rem;
}
th{
  background: #b1b0b0;
}
td{
  background: #ede8ee;
}
.spacer{
  height: var(--header-height);
}

:root{
  --light-teal:rgb(238, 255, 255);
  --content-size:1280px;
  --wild-text: 	#D50000;
  --header-height:80px;
  --complex-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  --light-gradient:linear-gradient(90deg, #EAF5F7 1%, #F9F6CF 51%, #F1FBFF 99%, #F1FBFF 100%);
  --hot-gradient: linear-gradient(to right, #CB3066, #16BFFD);
}

body {

margin: 0;
font-family: 'Oswald', sans-serif;
color:#3f3f3f;
display: flex;
flex-direction: column;
height:auto;
justify-content: center;
background:var(--light-gradient);


}

  /*общая оболочка*/
.all-content-wrapper{
min-height: calc(100vh - 80px);
width:var(--content-size);
display: flex;
flex-direction: column;
margin: 0 auto;
padding: 15px;
text-align: center;

}

  /*шапка сайта*/
 
  header{
    margin: -20px;
    position: fixed;
    z-index: 20;
    width: 100%;
    max-height: var(--header-height);
    background:var(--light-gradient);
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--content-size);
    border-radius: 4px;
  }

  header .logo img{
    height:60px;
    

  }


header ul{
  position: relative;
  
}
header ul li{
  position: relative;
  float: left;
}
header ul li a{
 
  color:#5c5c5c;
  font-size: 1.1rem;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  transition: 300ms ease-in-out all;
}
header ul li a:hover{
 font-size: 1.2rem;
 color:#000000;
 transition: 300ms ease-in-out all;
 
}
header ul li ul{
 
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  left: 0;
  width:max-content;
  background:var(--light-gradient);
  border-radius: 8px;
  
}
header ul li:hover ul{
  visibility: visible;
  opacity: 100%;
  display: flex;
  transition: 300ms ease-in-out all;
 

}
header ul li ul li a{
  
  border-bottom: 1px dotted #b1b0b0;
  padding: 10px 15px;
}
header ul li ul li a:hover{
  background: #ede8ee;
  

}

/*картинка на  главную и реклама*/
.comerc-image-wrapper{
  display: flex;
  overflow: hidden;
  position: relative;
  height: 350px;
}

.comerc-box{
  position:absolute;
  width: 100%;
  height: auto; 
  margin-left: 1rem;
}
.backround-link-box{
  background: rgb(255, 255, 175);
  box-shadow: var(--complex-shadow);
  height: 800px;
  width: 800px;
  border-radius: 50%;
  right: 60%;
}
.comerc-image-box{
  left: 8%;
}
.comerc-link-box{
  left: 3%;
  bottom: 25%;
  max-width: 300px;
  
}
.comerc-link{
  text-align: left;
  position: relative;
  background: rgba(121, 1, 101, 0.03);
  border-radius: 50%;
  padding: 4rem;
 

}
.comerc-link-box button{
  margin-top: 15px;
  color: rgb(255, 255, 175);
  font-size: 1.3rem;
  padding: 15px;
  line-height: 1.2;
  position: absolute;
  left: 90%;
  bottom: 15%;
  }
.comerc-link img{
  max-width: 40px;
  position: absolute;
  right: 10%;
  top: 25%;
}
.comerc-title{
  font-size: 4rem;
  font-weight: bold;
  color: red;
  
}


/*категории на странице*/
.service-title{
  color: #4f0780;
  margin-bottom: 10px;
}
.categories-list-wrapper{
  margin-top: 1rem;
    padding:0px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.category-wrapper{
 scroll-margin-top: var(--header-height);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:1.5rem;
  justify-items: center;
  
}


.cat-content-wrapper p{
  text-align: justify;
}
.cat-images-wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
}
.cat-image-container:nth-child(2){
  position: absolute;
  margin-top: 235px;
  transform: rotate(5deg);
 
}
.cat-image-container:nth-child(3){
  position: absolute;
  margin-top: 470px;
  transform: rotate(-5deg);
}



.cat-image-container img{
  margin-top: 10px;
  width: 400px;
  height:270px ;
  border-radius: 5px;
  box-shadow: var(--complex-shadow);
  border: 7px solid  rgb(255, 255, 175);
}

.service-wrapper{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1.5rem;
  justify-items: space-between;
  position: relative;
  transition: 300ms ease-in-out all;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(121, 1, 101, 0.05) 100%);
  border-radius: 4px;
}
.service-wrapper:hover{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(121, 1, 101, 0.07) 100%);
  padding: 1.6rem;
  border-radius: 8px;

}

.service-wrapper:hover{
 font-size: 1.1rem;
 transition: 300ms ease-in-out all;
}
.decor-div{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width:65px;
  height: 65px;
  border-radius: 50%;
  background-color: rgb(255, 255, 175);
  box-shadow: var(--complex-shadow);  
}
.active{
  visibility:visible;
  opacity: 100;
  transition: 1000ms ease-in-out all;

}



  /*список тренеров*/
  #our-team{
    scroll-margin-top: var(--header-height);
    

  }
  .coach-list-wrapper{
    padding-top:15px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2rem;
  }

  /*карточка тренера*/
  .coach-card{
    margin-top: 10px;
    position: relative;  
    width: 300px;
    max-height: 480px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 2rem;
    box-shadow: var(--complex-shadow);
    line-height: 1.3rem;
    
  }

   .coach-card-box{
    padding:1rem 0.5rem;
    text-align: justify;
    background: var(--light-gradient);
    border: 7px solid #fff;
    border-radius: 1rem;
    margin-top:  -7px;
    float:left;
  }

  .coach-card-box ul{
  line-height:1.5rem;
  margin-top: 10px;

  }
  .coach-card-circle{
    position: absolute;
    top: -5%;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    transform: translateY(-50%);
    right: -100px;
    padding:0;
    overflow: hidden;
    box-shadow: var(--complex-shadow);
    border: 7px solid rgb(255, 255, 175);
 
  }
  .coach-card-circle img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .mini-logo{
  max-width:70px;
  }
.rules-wrapper{
display: flex;
flex-direction: column;
box-shadow: var(--complex-shadow);
padding: 15px 25px;
max-width: 80%;
margin: 1rem auto;
border-radius: 8px;
  }
  .icon-title-box{
    display: flex;
    align-items:center;
  }
  .attention-cicle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    box-shadow: var(--complex-shadow);
    position:relative;
    transition: 500ms ease-in-out all;

  }
  .rules-wrapper > p{
    margin-top: 15px;
    font-size: 1.5rem;
   text-align: justify;

  }


/*контакты*/
.contacts-container{
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.contacts-info-wrapper{
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items:center;
  gap: 10px;
}
.contact-info{
  justify-self: left;
}

footer{
  text-align: center;
  padding: 15px;
  color:#000000;
  background: var(--light-gradient);
 box-shadow: var(--complex-shadow);

}
.slide-from-right {
	animation: SlideFromRight 600ms ease 0s 1 normal forwards;
  
}

@keyframes SlideFromRight {
	0% {
		transform: translateX(-300px);
    
	}

	100% {
		transform: translateX(0);
    
	}
}
.custom-btn {
  opacity:0;
  visibility: hidden;
  width: 80px;
  height: 80px;
  color: #fff;
  border-radius: 50%;
  padding: 15px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  background: transparent;
  cursor: pointer;
 
  position: absolute;
  left: 10px;
  bottom: -20px;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.custom-btn:hover {
  border-radius: 4px;
}
.btn-5 {
  width: 120px;
  height: 120px;
  line-height: 1.2rem;
  padding: 0;
  border: none;
  background: var(--wild-text);
  background: linear-gradient(0deg, var(--wild-text) 0%, var(--wild-text) 100%);
}
.btn-5:hover {
  color: var(--wild-text);
  background: rgb(255, 255, 175);
  box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: var(--wild-text);
  box-shadow:
   -1px -1px 5px 0px rgb(255, 255, 175),
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}

.active{
  visibility:visible;
  opacity: 100;
  transition: 500ms ease-in-out all;

}
