<div class="service-card-wrapper">
    <div class="service-icon-title">
        <div class="service-icon-image">
            {% if serv.image %}
            <img  src="{{serv.image.url}}" alt="{{ serv.title }}">
            {% else %}
            <img  src="{{logo.image.url}}" alt="{{ serv.title }}">
            {% endif %}
        </div>
        <div class="service-title">{{ serv.title }}</div>
    </div>
        
    <div class="service-discription">{{ serv.content|safe }}</div>   
    

    </div>
    
