<div class="spacer"></div>
<section class="comerc-image-wrapper">
    <div class="comerc-box comerc-image-box"><img src="{{ main_image.image.url }}" alt="{{ main_image.title }}"></div>
    <div class="comerc-box backround-link-box"></div>
    {% if commerc %}
    {% for com in commerc %}
    <div  class="comerc-box comerc-link-box">
    
    <div class="comerc-link" >
        <h1 class="comerc-title">{{ com.title }}</h1>
        <p class="comerc-title">{{ com.sub_title }}</p>
        <a href=""><button class="custom-btn btn-5 js-open-modal"><span style="font-weight:bold;">{{com.about}}</span></button> </a>
    {% endfor %}    
    </div>
    
    </div>
    {% else %}
    <div  class="comerc-box comerc-link-box">
        
        <img style="width: 300px;" src="{{logo.image.url}}" alt="{{logo.title}}">
        
    </div> 
    {% endif %}

</section>

<section class="comerc-mini-wrapper">
{% if commerc %}
{% for com in commerc %}
  <div class="comerc-mini-text">
    <div class="comercmini-title"><h1 class="comerc-title">{{ com.title }}</h1></div>
    <div class="comerc-mini-title"><p>{{ com.sub_title }}</p></div>
  </div>
  {% endfor %}
  
    <a href=""><button class="mini-btn js-open-modal" ><span style="font-weight:bold;">{{com.about}}ПОДРОБНЕЕ</span></button> </a>
{% else %}
<div ></div>
{% endif %}
  
</section>