

<header>
<!-- <div class="header-wrapper">
<div class="header-wrapper-first-group ">
  <a href="" class="service-wrapper">
    УСЛУГИ
  </a>
  <a href="" class="service-wrapper">
    НАША КОМАНДА
  </a>
  <a href="" class="service-wrapper">
    ПРАВИЛА
  </a>
  <a href="" class="service-wrapper">
    ГАЛЕРЕЯ
  </a>
</div>
<div>
  <a href="" class="logo-wrapper">
    <img class="gallery-image" src="{{logo.image.url}}" alt="{{logo.title}}">
  </a>
</div>

  <div class="header-wrapper-last-group ">
   <a href="" class="service-wrapper ">
    ТЕЛЕФОН
  </a>
  <a href="" class="service-wrapper "> 
    КОНТАКТЫ
  </a>
</div>
</div> -->
<a href="/" class="logo">
   <img class="gallery-image" src="{{logo.image.url}}" alt="{{logo.title}}">
</a>
<nav>
  <ul>
    <li><a href="">УСЛУГИ &#9660; </a>
    <ul>
      {% for service_cat in service_category %}
        <li>
          <a href="{% url 'home' %}#cat-list">
            <div>{{ service_cat.title }}</div>
              
              
          </a>
      
          
        </li>
      {% endfor %}
    </ul>
    </li>
    <li><a href='{% url "coaches" %}'>НАША КОМАНДА</a></li>
    <li><a href="{% url 'rules' %}">ПРАВИЛА</a></li>
    <li><a href="">ГАЛЕРЕЯ</a></li>
    <li><a href="">ТЕЛЕФОН</a></li>
    <li><a href="">КОНТАКТЫ</a></li>
   
  </ul>
</nav>
</header>
<div class="main-image-container">
  <img src="{{main_image.image.url}}" alt="{{main_img.title}}">
  
</div>