

<header>

<a href="/" class="logo">
   <img class="gallery-image" src="{{logo.image.url}}" alt="{{logo.title}}">
</a>
<nav>
  <ul>
    <li><a href="{% url 'home' %}#cat-list">УСЛУГИ &#9660; </a>
    <ul>
      {% for service_cat in service_category %}
        <li>
          <a href="{% url 'home' %}#{{ service_cat.slug }}">
            <div>{{ service_cat.title }}</div>
              
              
          </a>
      
          
        </li>
      {% endfor %}
    </ul>
    </li>
    <li><a href='{% url "coaches"%}#our-team'>ТРЕНЕРЫ</a></li>
    <li><a href='{% url "rules"%}#rules'>ПРАВИЛА</a></li>
    <li>
      <a href="{{ contact_phone.annotations2|safe }}">
        <div style="display: flex;">
          <img style="height: 17px;opacity: 70%;" src="{{contact_phone.image.url}}" alt="{{contact_phone.title}}">
          <span>{{ contact_phone.annotations1|safe }}</span></div>
      </a>
    </li>
    <li><a href="{% url 'home'%}#contact-list">КОНТАКТЫ</a></li>
   
  </ul>
</nav>
<div class="burger">burger</div>
</header>
